<!DOCTYPE html>
<html class="use-all-space">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8">
    <title>TomTom JavaScript SDK - Basic routing A-B</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="map.css"/>
    <style>
        label {
            display: flex;
            align-items: center;
            margin: 2px;
        }
        select {
            flex: auto;
            margin-left: 10px;
        }
    </style>
    <script type="text/javascript" src="tomtom.min.js"></script>
</head>
<body class="use-all-space">
    <div id="map" class="use-all-space"></div>
    <script src="script.js"></script>
</body>
</html>
